@model EcommerceStore.Web.Areas.Admin.ViewModel.EcommerceStoreViewCategory

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">

            @if (Model.Id > 0)
            {


                <h5 class="modal-title" id="exampleModalLabel">Edit EcommerceStore Category</h5>
            }
            else
            {
                <h5 class="modal-title" id="exampleModalLabel">Create EcommerceStore Category</h5>
            }



            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form class="row g-3" id="ActionForm">
                <input name="Id" value="@Model.Id" type="hidden"/>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">分類的名字:</label>
                    <input type="text" class="form-control" name="Name" id="CategoryName" placeholder="分類的名字" value="@Model.Name">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">上傳圖案:</label>
                    <input class="form-control" type="file" name="CategoryImage" id="formFile" value="">
                    <img id="ActionImage" src="" />
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="DataSaveButton" type="button" class="btn btn-primary">儲存</button>
        </div>
    </div>
}



<div id="UpdataError">

</div>

<script>
    $("#formFile").change(function () {
        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#ActionImage").attr("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    };





    $("#DataSaveButton").click(function () {

        var formdate = new FormData();
        var file = $("#formFile")[0].files[0];
        var Name = $("#CategoryName").val();
        formdate.append("Name", Name);
        formdate.append("CategoryImage", file);


        $.ajax({
            url: "@Url.Action("Action", "Category")",
            type: "post",
            processData: false,
            contentType: false,
            data: formdate,
        }).done(function (response) {
            debugger;
            if (response.Success) {
                location.reload();
            } else {
                $("#UpdataError").html(response.Message);
            }
        });
    });


</script>
