@model EcommerceStore.Web.Areas.Admin.ViewModel.EcommerceStoreDiscountList


<h1 class="mt-4">活動折扣</h1>
<ol class="breadcrumb p-3 pb-md-4 mx-auto text-center">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Sidenav Light</li>
</ol>



<!-- Button trigger modal -->
<button id="ActionButton" data-href="@Url.Action("Action","Discounts")" type="button" class="data-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#ActionModal">
    新增
</button>


<div class="table-responsive">

    @{
        Html.RenderPartial("_Listing", Model);
    }

</div>



<!-- Modal -->
<div class="modal fade" id="ActionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    </div>
</div>


<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href")

        }).done(function (response) {
            $("#ActionModal .modal-dialog").html(response);
        });
    });
</script>